---

---
@charset "utf-8";

@import "variables", "fonts";

header {
	border-top: 0px none $brand-color;
	border-bottom: 0px none $grey-color-light;
	
	background-color: $brand-color;
	color: $off-white-color;
	//background-image: url(/resources/graphics/banners/mars.png);
	//background-position: center center;
	
	h1 {
		display: block;
		float: none;
		
		font-size: 56px;
		font-weight: 100px;
		line-height: 56px;
		
		padding-top: 54px;
		
		@include media-query($on-palm) {
			font-size: 38px;
			line-height: 38px;
			
			padding-top: 10px;
		}
	}
	
	h2 {
		display: block;
		float: none;
		
		font-size: 24px;
		font-weight: 100px;
		line-height: 24px;
		
		margin-left: 5px;
		padding-bottom: 54px;
		
		@include media-query($on-palm) {
			font-size: 18px;
			line-height: 18px;
			letter-spacing: -0.5px;
			
			padding-bottom: 10px;
		}
	}
	
	a {
		color: $off-white-color;
		border-style: none;
		
		&:hover {
			color: $off-white-color;
			border-style: none;
		}
	}
	
	nav {
		margin: 66px 0px;
		
		a {
			padding: 5px 10px;
			color: $off-white-color;
			
			border-style: none;
			
			&:hover {
				color: $brand-color;
				background: $off-white-color;
				border-style: none;
			}
			
			@include media-query($on-palm) {
				color: $grey-color-dark;
				
				&:hover {
					background: none;
				}
			}
			
		}
		
		@include media-query($on-palm) {
			margin: 10px 0px;
		}
	}
}